<div class="container">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/employeedata']">EmployeeData</a> &nbsp;&nbsp; | &nbsp; &nbsp;
            <a [routerLink]="['/organisationdata']">OrganisationData</a> &nbsp;&nbsp; | &nbsp; &nbsp;
            <a [routerLink]="['/pendingrequest']">PendingRequest</a>
        </div>
    </div>
    <div class="row" style="min-height: 20px;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<table align="center" class="table_content">
    <thead>
  <tr>
    <th> First Name</th>
    <th> Last Name</th>
    <th> Email</th>
    <th> Role</th>
    <th> Entity</th>
    <th> Action</th>
    
  </tr>
</thead>
<tbody>
  <tr>
    <td>raj</td>
    <td>varma</td>
    <td>girivarma@123</td>
    <td>developer</td>
    <td>snad developers</td>
    <button class="update">Updata</button>
  </tr>

  <tr>
    <td>testing</td>
    <td>test</td>
    <td>test@123</td>
    <td>manager</td>
    <td>snad developers</td>
    <button class="update">Updata</button>
  </tr>

  <tr>
    <td>Ravi</td>
    <td>Reddy</td>
    <td>ravi@123</td>
    <td>gm</td>
    <td>snad developers</td>
    <button class="update">Updata</button>
  </tr>

  <tr>
    <td>Soujanya</td>
    <td>Reddy</td>
    <td>soujanya@123</td>
    <td>analyst</td>
    <td>snad developers</td>
    <button class="update">Updata</button>
  </tr>
</tbody>
</table>
