*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.c-bg{
    
   width: 100%;
    height: auto;
  
}


.shadow{
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
}