<section class="">
    
      <div class="container" >
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1><b style="font-size: 55px;">ANALYZE</b></h1>
            <p>TODAY'S CHALLENGES</p>
  
            <h1><b style="font-size: 55px;">ENVISION</b></h1>
            <P>TOMORROW'S INNOVATION</P>
    
           
          </div>
  
  
          <div class="col-lg-6 mb-5 mb-lg-0"> 
              <div class="card-body py-5 px-md-5" id="card">
              
                <div class="shadow-lg p-5 mb-7 bg-white" id="shadow">

               
                <form>
                  <div class="row">
                    <div class="text-center">
                      <img src="./assets/snadicon.png" class="rounded">
                        
                      </div>
                   
                      <h1>Forgot Password?</h1>
                      <br>
                      <h6>Please answer the below security questions to reset password</h6>
                    
                  </div>
                  <br>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Select Question</option>
                    <option value="1">What is your favourite food/dish?</option>
                    <option value="2">Who is your favourite actor?</option>
                    <option value="3">What is the name of your favourite pet?</option>
                    <option value="4">What is your favourite hobby?</option>
                    <option value="5">Who is your best friend?</option>
                  </select><br>
            
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>

                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Question</option>
                        <option value="1">What is your favourite food/dish?</option>
                        <option value="2">Who is your favourite actor?</option>
                        <option value="3">What is the name of your favourite pet?</option>
                        <option value="4">What is your favourite hobby?</option>
                        <option value="5">Who is your best friend?</option>
                      </select><br>
                
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Question</option>
                            <option value="1">What is your favourite food/dish?</option>
                            <option value="2">Who is your favourite actor?</option>
                            <option value="3">What is the name of your favourite pet?</option>
                            <option value="4">What is your favourite hobby?</option>
                            <option value="5">Who is your best friend?</option>
                          </select><br>
                    
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div><br>
  
                  
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Continue
                  </button>
  
                 
                </form>
              </div>
              </div>
            
          </div>
        </div>
      </div>
   
   
  </section>