<h1 align="center"> Operational Expenses</h1>


<a mat-raised-button routerLink="." color="primary">Back</a>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="EmployeeNo">
        <mat-header-cell *matHeaderCellDef>EMPLOYEENO</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EmployeeNo}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="FIRSTNAME">
        <mat-header-cell *matHeaderCellDef> FIRSTNAME</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.FIRSTNAME}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="LASTNAME">
        <mat-header-cell *matHeaderCellDef> LASTNAME</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LASTNAME}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="TOTALOPERATIONALEXPENSES">
        <mat-header-cell *matHeaderCellDef>TOTAL OPERATIONAL EXPENSES</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.TOTALOPERATIONALEXPENSES}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
