<strong><h1 align="center" >Opertaional Expenses</h1></strong>
<div><a class="btn btn-primary" [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active"  role="button">Back</a></div>
<br>
<br>
 
 

<div class="fixTableHead  shadow">
    <table class="table">
        <thead>
            <tr>
              <th> Employee Id</th> 
              <th>First Name</th>
              <th>LastName </th>
              <th>TOTALOPERATIONALEXPENSES</th>
        
              
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let emp of employees">
          
              <td>{{emp.empEmployeeNo}}</td>
              <td>{{emp.empFIRSTNAME}}</td>
              <td>{{emp.empLASTNAME}}</td>
              <td>{{emp.empTOTALOPERATIONALEXPENSES}}</td>
              
          
            </tr>  
      
      
          </tbody>
        
    </table>
  </div> 
