<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 style="margin:none;"><b>Registration Form</b></h3>
            <h4 style="top: 20px;">Signup for Registration</h4>
            <form>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control " placeholder="First Name" />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control " placeholder="Last Name"/>
                    
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label for="EmployeeId" class="form-label">Employee Id</label>
                    <input type="text" class="form-control" id="EmployeeId" placeholder="Employee Id" />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label for="EmailId" class="form-label">Email Id</label>
                    <input type="mail" class="form-control" id="EmailId" placeholder="Email Id" />
                    
                  </div>

                </div>
                
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label for="PhoneNumber" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="PhoneNumber" placeholder="Phone Number" />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Gender</label>
                  <select class="select form-control">
                    <option value="1" >Choose option</option>
                    <option value="2">Male</option>
                    <option value="3">Female</option>
                    <option value="4">Other</option>
                  </select>
                 

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Select Entity</label>
                  <select class="select form-control">
                    <option value="1" >Choose option</option>
                    <option value="2">HDFC</option>
                    <option value="3">AXIS</option>
                    <option value="4">AVERON</option>
                  </select>
                 

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label for="PhoneNumber" class="form-label">Phone Number</label>
                    <input type="date" class="form-control" id="DateOFBirth" placeholder="DateOFBirth" />
                    
                  </div>

                </div>
                
              </div>

              <div class="row">
                
              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary " type="submit" value="Next" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>