  <div class="child-div1">
   <h1><b style="font-size: 55px;">ANALYZE</b></h1>
   <p>TODAY'S CHALLENGES</p>
  
   <h1><b style="font-size: 55px;">ENVISION</b></h1>
   <P>TOMORROW'S INNOVATION</P>

  </div>
  
<div class="container"   >
  
    <label class="form-label" for="form12">First Name</label>
    <input type="text" id="form12" placeholder="First Name"  class="form-control" />
  
    <label class="form-label" for="form12">Last Name</label>
    <input type="text" id="form12" placeholder="Last Name"  class="form-control" />
  
    <label class="form-label" for="form12">Employee Id</label>
    <input type="text" id="form12" placeholder="Employee Id"  class="form-control" />

    <label class="form-label" for="form12">Email Id</label>
    <input type="text" id="form12" placeholder="Email Id"  class="form-control" />

    <label class="form-label" for="form12">Phone Number</label>
    <input type="text" id="form12" placeholder="Phone Number"  class="form-control" />

    <label class="form-label" for="form12">Gender</label>
    <select class="form-select" >
      <option selected>Select</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
  

</div>