
    <div class="container-fluid " id="coloring">
<h1 class="text-center">Add Compensation Information</h1>


<button type="button" class="btn btn-primary">back</button>
<form >
    <div class="px-4 py-2 px-md-5 col-md-8 text-center text-lg-start" style="margin-left:15%">
        <div class=" shadow-lg p-5 mb-4 bg-white rounded">
            <div class="col-md-6 mb-4">
                <div class="form-outline">
        <label for="exampleFormControlInput1" class="form-label" >Effective Date</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
    
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Pay Schedule</label>
  <select class="form-select" aria-label="Default select example">    
    <option value="3">Twice a Month</option>
      <option value="1"> Every week</option>
      <option value="2">Every Month</option>
    </select></div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Pay Type</label>
    <select class="form-select" aria-label="Default select example">
        <option value="1"> Hourly </option>
        <option value="2">Commission only</option>
    </select></div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Pay Rate</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Overtime Status</label>
    <select class="form-select" aria-label="Default select example">
       
      <option value="1"> Exempt </option>
      <option value="2">Non Exempt</option>

    </select></div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Other Reasons</label>
    <select class="form-select" aria-label="Default select example">
        
      <option value="1"> Promotion</option>
      <option value="2">Relocated</option>
      <option value="3">Pay Increase</option>
    </select></div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Comments</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <button type="button" class="btn btn-primary" id="button">Add Detail</button>

</div>
  </div>
 </div>
</form><br>
</div>


