<div class="container text-center d-flex flex-column">
  <div class="row justify-content-between">
      <div class="col-md-4">
          <div class="Entities ">
              <h4 class="text_color " >Entitiyes</h4>
              <input type="text" class="ms-2 me-2 mt-2 form-control" aria-describedby="passwordHelpInline" placeholder="Enter Entity Name">&nbsp;
              <button class="view me-2  p-1 mt-2 mb-2">Add Entity</button>
            </div>
      </div>

      <div class="col-md-4">
          <div class="Roles ">
              <h4 class="text_color" >Roles</h4>
              <input type="text" class=" put  m-2" placeholder="Enter Role name"> &nbsp;
              <button class="view mx-1 p-1 ">Add Role</button>
            </div>
      </div>

      <div class="col-md-4 sri">
          <div class="Expenses ">
              <h4 class="text_color" >Expenses</h4>
             <input type="text" class="ms-2 me-2 mt-2 form-control" placeholder="Expense Name"> 
             <input type="text" class="m-2 form-control" placeholder="Expense Code">  &nbsp;
             <button class="view me-2 p-1 mt-2 mb-2">Add Expense</button>
             <div class="fixTableHead">
             <table class="table">
               <thead>
                 <tr>
                   <th scope="col">Expense Name</th>
                   <th scope="col">Expense Code</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
         
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
         
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                 <tr>
                   <td>Travel Expense</td>
                   <td>Trv-01</td>
                 </tr>
                
         
               </tbody>
             </table>
           </div>
         </div>
         

      </div>
  </div>
</div>

<!--
<div class="container">
  
  <div class="Entities ">
    <h4 class="text_color " >Entitiyes</h4>
    <input type="text" class="ms-2 me-2 mt-2" placeholder="Enter Entity Name">&nbsp;
    <button class="view me-2  p-1 mt-2 mb-2">Add Entity</button>
  </div>


  <div class="Roles ">
    <h4 class="text_color" >Roles</h4>
    <input type="text" class="  m-2" placeholder="Enter Role name"> &nbsp;
    <button class="view mx-1 p-1 ">Add Role</button>
  </div>


  <div class="Expenses ">
     <h4 class="text_color" >Expenses</h4>
    <input type="text" class="ms-2 me-2 mt-2" placeholder="Expense Name"> 
    <input type="text" class="m-2" placeholder="Expense Code">  &nbsp;
    <button class="view me-2 p-1 mt-2 mb-2">Add Expense</button>
    <div class="fixTableHead">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Expense Name</th>
          <th scope="col">Expense Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>

        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>

        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
        <tr>
          <td>Travel Expense</td>
          <td>Trv-01</td>
        </tr>
       

      </tbody>
    </table>
  </div>
</div>


</div>


-->
