<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container" >
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1><b style="font-size: 55px;">ANALYZE</b></h1>
                    <p>TODAY'S CHALLENGES</p>
  
                    <h1><b style="font-size: 55px;">ENVISION</b></h1>
                    <P>TOMORROW'S INNOVATION</P>
  
  
                </div>
                <div class="col-lg-6 ">
                    <div class="card-body">
                        <div class="shadow-lg p-5  bg-white rounded">
                            <form>
                              
                              <div class="img" align="center">
                                <img alt="" src="../assets/snadicon.png" />
                             </div>
                             <h3 style="margin:none;" align="center"><b>Security Questions</b></h3>
                              <br>
                              <div class="form-group">
                                <label for="userInput">What is your favourite food/dish?</label>
                                <input type="name" class="form-control" id="text" placeholder="Give your answer">
                            </div>
                            
                            <div class="form-group">
                                <label for="text">Who is your favourite actor?</label>
                                <input type="name" class="form-control" id="text" placeholder="Give your answer">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="text">What is the name of your favourite pet?</label>
                                <input type="name" class="form-control" id="text" placeholder="Give your answer">
                            </div>
                            
                            <div class="form-group">
                                <label for="text">What is your favourite hobby?</label>
                                <input type="name" class="form-control" id="text" placeholder="Give your answer">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="text">Who is your best friend?</label>
                                <input type="name" class="form-control" id="text" placeholder="Give your answer">
                            </div>
                            <br>
                               
                            
                            <!-- <div class="mt-4 pt-2" id="button1">
                                <input class="btn btn-primary " type="submit" value="Go Back" />
                            </div>
                            
                            <div class="mt-4 pt-2" id="button">
                                <input class="btn btn-primary " type="submit" value="submit" />
                              </div> -->



                              
                

                 <div style="display: flex;right: -23%;position: relative;">
                    <div class="col-3">
                        <input class="btn btn-primary " type="submit" value="Go Back" />
                    </div>
                    <div class="col-3">
                        <input class="btn btn-primary " type="submit" value="Submit" />
                    </div>
                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </section>
