<form>
    <h1 class="text-center">Add Education Information</h1>
    <button type="button" class="btn btn-primary" style="margin-left: 19%;">Back</button>

    <div class="px-4 py-2 px-md-5 text-center text-lg-start">
        <div class="shadow-lg p-5 mb-7 bg-white rounded" style="margin-left: 15%">
            <div class="card-body py-3 px-md-6">
                <form>
                    <div class="row">


                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <label for="University" class="form-label">University</label>
                            <input type="text" class="form-control" id="University" placeholder="Enter University" />

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Degree</label>
                            <select class="select form-control">
                                <option>Choose Option</option>
                                <option value="1">Bachelors</option>
                                <option value="2">Masters</option>
                                <option value="3">Diploma</option>
                                <option value="4">Doctorate</option>
                            </select>


                        </div>
                        <span>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label for="Specialization" class="form-label">Specialization</label>
                                    <input type="text" class="form-control" id="Specialization"
                                        placeholder="Specialization" />

                                </div>

                            </div>
                        </span>
                        <span>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label for="DegreeStartDate" class="form-label">Degree Start Date</label>
                                    <input type="date" class="form-control" id="DateOFBirth"
                                        placeholder="DateOFBirth" />

                                </div>

                            </div>
                        </span>
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <label for="DegreeEndDate" class="form-label">Degree End Date</label>
                                <input type="date" class="form-control" id="DateOFBirth" placeholder="DateOFBirth" />

                            </div>

                        </div>
                    </div>

                    <div class="row">

                    </div>

                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary " type="submit" value="Add Details" style="margin-left: 45%;" />
                    </div>

                </form>
            </div>
        </div>
    </div>



</form>