<div class="container-fluid d-flex bg-light flex c-bg">
  <div class="container-fluid" style="width: fit-content">
    <app-navbar></app-navbar>
  </div>
  <div class="v1"></div>
  <br />
  <div class="container-fluid">
    <div class="shadow-lg p-5 mb-7 bg-white" id="shadow">
      <!-- <div class="card" style="width: 22rem;height: 27rem;">     -->

      <div class="card-body">
        <br />

        <h3>Select The Data You Want To Load</h3>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1"
            >Client
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Pay Roll
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Time Sheet
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Management Expenses
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Employee Expenses
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Immigration Expenses
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Employee Data
          </label>
        </div>
        <br />
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" />
          <br />
          <div class="bt">
            <button type="button" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
