<h2 class="header">Active Employee Data</h2>
  <br>

  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-2">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search" id="search">
        </div>   
      </div> 
    </div>
  </div>

 <br>
<button type="button" class="btn btn-primary">Back</button>
<button type="button" class="btn btn-primary" style="float:right;">New Employee</button>
<br>
<br>
<div class="fixTableHead  shadow">
  <table class="table">
      <thead>
          <tr>
            <th>Employee Number</th> 
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact Number</th> 
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let act of actemployees">
            <td>{{act.actEmployeeNumber}}</td>
            <td>{{act.actFirstName}}</td>
            <td>{{act.actLastName}}</td>
            <td>{{act.actEmail}}</td>
            <td>{{act.actContactNumber}}</td>
            <td>{{act.actRole}}</td>
          </tr>
        </tbody>   
  </table>
</div> 