<h1 class="header">Activee Employee Data</h1>
<pre>

</pre>
<div  class="search"><input type="search" class="btn btn-light" value="search" required></div>
<pre>

</pre>
<button type="button" class="btn btn-primary">Back</button>
<button type="button" class="btn btn-primary" style="float:right;">New Employee</button>
<pre>

</pre>
<table class="table">
  <thead>
    <tr class="tableheads">
      <th scope="col">Employee Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tabledata">
    <td>1000</td>
    <td>Govardhan</td>
    <td>MReddy</td>
    <td>govardhan@snaddevelopers.com</td>
    <td>1484318411</td>
    <td>snad</td>
  </tr>
  </tbody>
</table>