<!DOCTYPE html>
<h2 class="header"><b> Active Employee Data</b></h2>
<br />
<div class="container-fluid col-md-10">
  <div class="container-fluid">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-2">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search" id="search" />
        </div>
      </div>
    </div>
  </div>

  <br />
  <button [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active" type="button"
    class="btn btn-primary">
    Back
  </button>
  <button [routerLink]="['/admin/newemp']" routerLinkActive="router-link-active" type="button" class="btn btn-primary"
    style="float: right">
    New Employee
  </button>
  <br />
  <br />
  <div class="fixTableHead shadow ">
    <table class="table">
      <thead>
        <tr>
          <th>Employee Number</th>
          <th class="data">First Name</th>
          <th class="data">Last Name</th>
          <th class="data">Email</th>
          <th>Contact Number</th>
          <th class="data">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let act of actemployees" class="hover" (click)="select(act)" id="height">
          <td>{{ act.employeeid }}</td>
          <td class="data">{{ act.firstname }}</td>
          <td class="data">{{ act.lastname }}</td>
          <td class="data">{{ act.emailaddress }}</td>
          <td>{{ act.contactnumber }}</td>
          <td class="data">{{ act.jobtitle }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>