<div class="fixTableHead  shadow">
    <br>
    <h2 class="header">Management Expenses</h2>
    <br>
    <button type="button" class="btn btn-primary">Back</button>
    <br><br>
    <table class="table">
        <thead>
            <tr>
              <th>EMPLOYEE ID</th>
              <th>FIRST NAME</th> 
              <th>LAST NAME</th>
              <th>TOTAL MANAGEMENT EXPENSES</th>
            </tr>
          </thead>
  
          <tbody>
           <tr>
            <td>1000</td>
            <td>Rohini</td>
            <td>Chinni</td>
            <td>$1000</td>
           </tr>
           <tr>
            <td>1001</td>
            <td>poorna</td>
            <td>sai</td>
            <td>$1005</td>
           </tr>
           <tr>
            <td>1003</td>
            <td>mounika</td>
            <td>boinapally</td>
            <td>$1010</td>
           </tr>
      
          </tbody>
        
    </table>
  </div> 
  
  
  
