
    <h2 class="header">Management Expenses</h2>
    <br>
    <button type="button" class="btn btn-primary">Back</button>
    <br><br>
    <div class="fixTableHead  shadow">
    <table class="table">
        <thead>
            <tr>
              <th>Employee ID</th>
              <th>First Name</th> 
              <th>Last Name</th>
              <th>Total Management Expenses</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mgt of management">
              <td>{{mgt.mgtEmployeeId}}</td>
              <td>{{mgt.mgtFirstName}}</td>
              <td>{{mgt.mgtLastName}}</td>
              <td>{{mgt.mgtTotalManagementExpenses}}</td>
            </tr>
          </tbody>
    </table>
  </div> 
  
  
  
