<div class="container" >
  <h1>Payroll Expenses</h1>
  <input   [routerLink]="['/admin/launchpage']" type="submit" class="btn btn-primary" id="expense" value="Back" name="payroll"><br><br>
  <div class="container">
<div class="fixTableHead hi shadow ">

  <table class="table" >
      <thead>
          <tr>
            <th> Employee Id</th> 
            <th> Employee FirstName</th>
            <th> Employee LastName</th>
            <th> Total Expenses</th>
           
          </tr>
        </thead>

        <tbody>
          <tr >
        
            <td>1024</td>
            <td>Kollipara</td>
            <td>k@gmail.com</td>
            <td>$20000</td>

          </tr>  
          <tr >
        
            <td>1024</td>
            <td>Kollipara</td>
            <td>k@gmail.com</td>
            <td>$20000</td>

          </tr>  
          <tr >
        
            <td>1024</td>
            <td>Kollipara</td>
            <td>k@gmail.com</td>
            <td>$20000</td>

          </tr>  
          <tr >
        
            <td>1024</td>
            <td>Kollipara</td>
            <td>k@gmail.com</td>
            <td>$20000</td>

          </tr>  
    
    
        </tbody>
      
  </table>
</div> 
</div>
</div>
