<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  href="/personaldata">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/jobtab">Job</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Document</a>
    </li>
   
  </ul>
        <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
         <section class="vh-200 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row justify-content-center align-items-center h-50">
                    <div class="col-12 col-lg-9 col-xl-9">
                      <div class="shadow-lg p-3 mb-5 bg-body " id="shadow">
                      
                        <div class="card-body p-4 p-md-4">
                          
                          <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Basic Information</h4>
                          <div class="fixTableHead">
                            <form name="Personal" #Personal="ngForm" (ngSubmit)="Personal.valid && personal(Personal)">
                            <div class="row">
                              
                              <div class="col">
                                  <label class="form-label" for="firstName">Employee Id</label><span>*</span>
                                <input type="text" class="form-control"  placeholder="203356" name="EmployeeId" aria-label="EmployeeId" #EmployeeId="ngModel"  [(ngModel)]="empdata.employeeid" required />
                                <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Personal.submitted)">EmployeeId is required </small> 
                              </div>
                            
              
                              <div class="col">  
                                <label class="form-label" for="status">Status</label><span>*</span>
                                <input class="form-control" id="status" name="status"  #status="ngModel"  [(ngModel)]="empdata.status" required >
                              </div>
              
              
                              <div class="col">
                                <label class="form-label" for="FirstName">First Name</label><span>*</span>
                                <input type="text" class="form-control"  placeholder="likitha" name="firstName" aria-label="firstName" #FirstName="ngModel"  [(ngModel)]="empdata.firstname" required />
                                <small *ngIf="(FirstName.touched && FirstName.invalid) || (FirstName.invalid && Personal.submitted)">firstName is required </small> 
                              </div>
              
                            </div>
              
                          </form>
                       
              
              <br>
              
                          <form>
                            <div class="row">
                              
                              <div class="col">
                                  <label class="form-label" for="LastName">Last Name</label><span>*</span>
                                <input type="text" class="form-control"  placeholder="reddy" name="LastName" aria-label="Last Name" #LastName="ngModel" [(ngModel)]="empdata.lastname" required/>
                                <small *ngIf="(LastName.touched && LastName.invalid) || (LastName.invalid && Personal.submitted)">Last Name is required </small>
                              </div>
                            
              
                              <div class="col">
                                <label class="form-label" for="FullName">Full Name</label><span>*</span>
                                <input type="text" class="form-control"  placeholder="sontena" name="FullName" aria-label="Full Name" #FullName="ngModel" [(ngModel)]="empdata.fullname" required/>
                                <small *ngIf="(FullName.touched && FullName.invalid) || (FullName.invalid && Personal.submitted)">full  Name is required </small>
                              </div>
              
              
                              <div class="col">
                                <label for="DateOfBirth" class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="empdata.dateofbirth" required />
                                  
                              </div>
              
                            </div>
                            
                          </form>
              
                          <br> 
              
                          
                          <form>
                            <div class="row">
                              
                              <div class="col-4">
                                  <label class="form-label" for="SSN">SSN</label><span>*</span>
                                <input type="text" class="form-control" placeholder="SSN" name="SSN" aria-label="SSN" #SSN="ngModel" [(ngModel)]="empdata.ssn" required/>
                                <small *ngIf="(SSN.touched && SSN.invalid) || (SSN.invalid && Personal.submitted)">SSN  Name is required </small>
                              </div>
                            
              
                              <div class="col-4">
                                <label class="form-label" for="TaxFileNumber">Tax File Number</label><span>*</span>
                                <input type="text" class="form-control"  placeholder="246880"  name="TaxFileNumber" aria-label="TaxFileNumber" #TaxFileNumber="ngModel" [(ngModel)]="empdata.taxfilenumber" required/>
                                <small *ngIf="(TaxFileNumber.touched && TaxFileNumber.invalid) || (TaxFileNumber.invalid && Personal.submitted)">Tax File Number  Name is required </small>
                              </div>
              
              
                             </div>
                            </form>
                          </div>
                             <hr>
                             
                             <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Address</h4>
                             <div class="fixTableHead">
                             <form>
                                
                                <div class="form-group">
                                  <label for="#Address1">Address-1</label><span>*</span>
                                  <input type="text" class="form-control" id="#Address1" placeholder="H.NO-119/ street" name="#Address1" aria-label="#Address1" #Address1="ngModel" [(ngModel)]="empdata.addressline1" required/>
                                  <small *ngIf="(Address1.touched && Address1.invalid) || (Address1.invalid && Personal.submitted)"> Address-1 is required </small>
                                </div>
                                <div class="form-group">
                                  <label for="Address2">Address-2</label><span>*</span>
                                  <input type="text" class="form-control" id="Address2" placeholder="Apartment, Area/landmark" name="#Address2" aria-label="#Address2" #Address2="ngModel" [(ngModel)]="empdata.addressline2" required/>
                                  <small *ngIf="(Address2.touched && Address2.invalid) || (Address2.invalid && Personal.submitted)"> Address-2 is required </small>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="CITY1">City</label><span>*</span>
                                    <input type="text" class="form-control" id="CITY" name="#Address2" aria-label="#Address2" #Address2="ngModel" [(ngModel)]="empdata.city" required/>
                                    <small *ngIf="(Address2.touched && Address2.invalid) || (Address2.invalid && Personal.submitted)"> City is required </small >
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="state">State</label><span>*</span>
                                    <input id="state" class="form-control" #state="ngModel" id="state" name="state" [(ngModel)]="empdata.state" required >
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="zipcode">Zip code</label><span>*</span>
                                    <input type="text" name="zipCode" class="form-control" placeholder="zipCode" aria-label="zipcode" #zipcode="ngModel" [(ngModel)]="empdata.zipcode" required />
                                   <small *ngIf="(zipcode.touched && zipcode .invalid) || (zipcode.invalid && Personal.submitted)">ZipCode is required </small>
                                  </div>
                                </div>    
                            </form>
                          </div>
                              
                            <hr>
                            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Contact Details</h4>
                            <div class="row">
                                  
                                <div class="col">
                                    <label class="form-label" for="phonenumber">Phone Number</label><span>*</span>
                                  <input type="text" class="form-control" name="#phonenumber" aria-label="#phonenumber" #phonenumber="ngModel" [(ngModel)]="empdata.contactnumber" required/>
                                  <small *ngIf="(phonenumber.touched && phonenumber.invalid) || (phonenumber.invalid && Personal.submitted)"> phone number is required </small>
                                </div>
                              
                
                                <div class="col">
                                  <label class="form-label" for="emergencyphonenumber">Emergency phone number</label><span>*</span>
                                  <input type="text" class="form-control"  name="#emergencyphonenumber" aria-label="#emergencyphonenumber" #emergencyphonenumber="ngModel" [(ngModel)]="empdata.emergencynumber" required/>
                                  <small *ngIf="(emergencyphonenumber.touched && emergencyphonenumber.invalid) || (emergencyphonenumber.invalid && Personal.submitted)">emergency phone number is required </small>
                                </div>
                
                
                                <div class="col">
                                  <label class="form-label" for="emailid">Email-Id</label><span>*</span>
                                  <input type="text" class="form-control"  name="#emailid" aria-label="#emailid" #emailid="ngModel" [(ngModel)]="empdata.emailaddress" required/>
                                  <small *ngIf="(emailid.touched && emailid.invalid) || (emailid.invalid && Personal.submitted)">email id is required </small>
                                </div>
                                <br>
                                <br>
                                <div class="mt-2 pt-1" id="btn">
                                    <button type="submit" style="display: flex;position: relative;left: 40%;" class="btn btn-primary">Update</button>
                                  </div>
                                  <br>
                                  <br>
                                 

                
                              </div>
                            <hr>
                            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Educational Information</h4> 
                            <button [routerLink]="['/education-update']"   type="button" style="position: relative;left: 83%;top: -49px;" class="btn btn-primary" >+Add New</button><br>
                            <br>
                            <br>
                            <div >
                                <table class="table" >
                                    <thead >
                                        <tr>
                                          <th>Degree</th>
                                          <th>University</th> 
                                          <th>Specialization</th>
                                          <th>Grade/Score</th>
                                          <th>Degree StartDate</th>
                                          <th>Degree EndDate</th>

                                        </tr>
                                      </thead>
                              
                                     <tr *ngFor="let ed of educationData">
                                        <td>{{ed.highestdegree}}</td>
                                        <td>{{ed.university}}</td>

                                        <td>{{ed.specialization}}</td>

                                        <td>{{ed.gpa}}</td>

                                        <td>{{ed.degreestartdate}}</td>
                                        <td>{{ed.degreeenddate}}</td>


                                     </tr>

                                     
                                    
                                </table> 
                            
                                
                            </div><hr><br>
                
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Visa Information</h4>  
                <button [routerLink]="['/visaupdate']"  style="position: relative;left: 83%;top: -49px;"   type="button" class="btn btn-primary" >+Add New</button><br>
                
                <br>
                <br>
                <div >
                    <table class="table">
                        <thead >
                            <tr>
                              <th>Date</th>
                              <th>Visa status</th> 
                              <th>Issued Country</th>
                              <th>Issued Date</th>
                              <th>Expiry Date</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                  
                         <tr *ngFor="let vi of visaData">
                          <td>{{vi.date}}</td>
                          <td>{{vi.visastatus}}</td>

                          <td>{{vi.issuingcountry}}</td>

                          <td>{{vi.issueddate}}</td>

                          <td>{{vi.expirationdate}}</td>
                          <td>{{vi.status}}</td>
                          <td>{{vi.rowdata}}</td>
                        

                       </tr>
                        
                    </table>                    
                    
                </div> <hr>
                <br>
                <button type="submit" class="btn btn-primary" >Save All</button>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                
              </section>