<div class="container">
  <div class="row flex-nowrap">
    <div
      class="d-flex flex-row align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
    >
      <a
        href="/"
        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
      </a>

      <ul
        class="nav nav-pills flex-row mb-sm-auto mb-0 align-items-center align-items-sm-start"
        id="menu"
      >
        <li class="nav-item">
          <div class="flex-container">
            <a
              href="#"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <br />
              <br />
              <img src="./assets/snadicon.png" class="rounded" />
              <div class="move">
                <div style="order: 2">
                  <i
                    class="bi bi-speedometer2"
                    style="font-size: 145%; color: black"
                  ></i
                  ><span class="ms-1 d-none d-sm-inline" style="color: black"
                    >Dashboard</span
                  >
                </div>
              </div>
            </a>
            <div class="move">
              <a href="#" class="nav-link px-0 align-middle">
                <i
                  class="bi bi-box-arrow-in-down"
                  style="font-size: 145%; color: black"
                ></i>
                <span class="ms-1 d-none d-sm-inline" style="color: black"
                  >LoadData</span
                ></a
              >
              <a
                href="#"
                data-bs-toggle="collapse"
                class="nav-link px-0 align-middle"
              >
                <i
                  class="bi bi-person-bounding-box"
                  style="font-size: 145%; color: black"
                ></i>
                <span class="ms-1 d-none d-sm-inline" style="color: black"
                  >Amendpage</span
                ></a
              >
              <a
                href="#"
                data-bs-toggle="collapse"
                class="nav-link px-0 align-middle"
              >
                <i
                  class="fs-4 bi-grid"
                  style="font-size: 145%; color: black"
                ></i>
                <span class="ms-1 d-none d-sm-inline" style="color: black"
                  >Repoting port</span
                >
              </a>
              <a
                href="#"
                data-bs-toggle="collapse"
                class="nav-link px-0 align-middle"
              >
                <i
                  class="bi-5 bi-box-arrow-right"
                  style="font-size: 145%; color: black"
                ></i
                ><span class="ms-1 d-none d-sm-inline" style="color: black"
                  >logout</span
                >
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
