<div class="px-4 py-5 px-md-5 text-center text-lg-start">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1><b style="font-size: 55px;">ANALYZE</b></h1>
        <p>TODAY'S CHALLENGES</p>

        <h1><b style="font-size: 55px;margin: -6px;">ENVISION</b></h1>
        <P>TOMORROW'S INNOVATION</P>


      </div>
      <!-- <div class="card" style="width: 90rem;">
          <div class="card-body"> -->
      <div class="col-lg-6 mb-4 ">
        <div class="card-body  px-md-4">
          <div class="shadow-lg p-5 mb-7 bg-white rounded">
            <form>

              <div class="img" style="position:relative;left: 22%;">
                <img alt="" class="img" style="position: relative;display: flex;" src="../assets/snadicon.png" />
              </div>
              <h1>Sign up for new account</h1>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="FirstName" placeholder="Address Line 1" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="LastName" placeholder="Address Line 2" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="FirstName" placeholder="City" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="LastName" placeholder="State" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="FirstName" placeholder="Zipcode" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="LastName" placeholder="Country" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="FirstName" placeholder="Password" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="LastName" placeholder="Confirm Password" />
                  </div>

                </div>
              </div>

              <div class="form-group required">
                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="true">
                  Select Role
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">option 1</a></li>
                  <li><a class="dropdown-item" href="#">option 2</a></li>
                  <li><a class="dropdown-item" href="#">option 3</a></li>
                </ul> -->
                <!-- <label class="form-label">Select Entity</label> -->
                <select class="form-select" id="SelectEntity" aria-label="Default select example"
                  aria-placeholder="Select Role">
                  <option>Select Role</option>
                  <option>Software Engineer</option>
                  <option>Business Analyst</option>
                  <option>Devops Engineer</option>
                </select>
              </div>
              <!-- <div class="container mt-3">
                <div class="col-md-12 text-center"> -->

              <!-- <a href="https://www.awesomescreenshot.com/image/32940840?key=148989e655643d4e4e88122b9727ca1b"
                    class="btn btn-primary">Go Back</a> -->
              <!-- <button [routerLink]="['/signup']" routerLinkActive="router-link-active"  type="button" class="btn btn-primary" >Back</button><br> -->
              <!-- <a href="https://www.awesomescreenshot.com/image/32940926?key=0aa4a7fd2b7cc5f4b0fa1f365815768a"
                    class="btn btn-primary">Next</a> -->
              <!-- <button [routerLink]="['/registrationpage3']" routerLinkActive="router-link-active"  type="button" class="btn btn-primary" >GO Next</button><br>
                </div>
              </div> -->
              <div class="container">
                <div class="row">
                  <div class="col">
                    <button [routerLink]="['/signup']" routerlinkActive="router-link-active"
                      class="btn btn-primary form-control  btn-block" type="button">Go Back</button>
                  </div>
                  <div class="col">
                    <button [routerLink]="['/registrationpage3']" routerlinkActive="router-link-active"
                      class="btn btn-primary form-control btn-block" type="">Next</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>