
  <br>
  <h2 class="header">Total EmployeeExpenses Data</h2>
  <br>
<button type="button" class="btn btn-primary">Back</button>

<br>
<br>
<div class="fixTableHead  shadow">
  <table class="table">
      <thead>
          <tr>
            <th>EmployeeId</th> 
            <th>First Name</th> 
            <th>Last Name</th>
            <th>TotalEmployeeExpenses</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of EmployeeExpensedata">
            <td>{{emp.EmployeeId}}</td>
            <td>{{emp.FirstName}}</td>
            <td>{{emp.LastName}}</td>
            <td>{{emp.TotalEmployeeExpenses}}</td>
          
        </tbody>
      
  </table>
</div>
