
<section class="">
  <!-- Jumbotron -->
  
    <div class="container" style="margin-top: 10%;">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1><b style="font-size: 55px;">ANALYZE</b></h1>
          <p>TODAY'S CHALLENGES</p>

          <h1><b style="font-size: 55px;">ENVISION</b></h1>
          <P>TOMORROW'S INNOVATION</P>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 pb-4">
            <div class="card-body py-5 px-md-5">
                <div class="shadow-lg p-5 mb-7 bg-white rounded">
                  <form name="signup" #signup="ngForm" (ngSubmit)="signup.valid && register(signup)">
                <div class="row">
                     <div class="img" style="position:relative;left: 22%;">
                              <img alt="" class="img" style="position: relative;display: flex;" src="../assets/snadicon.png" />
                           </div>
                    <h3><b>Forgot Password?</b></h3><br>
                    <br>
                    <br>
                    <h6>Enter the UserId you have used during Registration</h6>
                </div>
                <br>
                <div class="col-md-6 mb-4">

                  <div class="form-outline mb-4">
                    <input type="userid" class="form-control" id="form3Example4" name="Email Id" #EmailId="ngModel" placeholder="Enter your User Id or Email Id"  [(ngModel)]="Signup.EmailId" required/>
                    <small *ngIf="(EmailId.touched && EmailId.invalid) || (EmailId.invalid && signup.submitted)">* Email Id is required </small>
                  </div>

                </div>
                <!-- Submit button -->
                <div>
                  <a type="submit" class="btn btn-primary btn-block mb-3" href="/securityquestions"><b>Continue</b></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    
    </div>
</section>

  
  