<div class="main-container" style="margin-left:200px; margin-top: 170px;">
  <div class="child-div1">
      <h1><b style="font-size: 55px;">ANALYZE</b></h1>
      <p>TODAY'S CHALLENGES</p>
      <h1><b style="font-size: 55px;">ENVISION</b></h1>
      <P>TOMORROW'S INNOVATION</P>
  </div>
<div align="center" class="password">
  <mat-card class="example-card">
    <mat-card-title-group>
      <img mat-card-sm-image src="assets/images/icon.png" >
    </mat-card-title-group>
  </mat-card>
<h2>Forgot password? </h2>
<h4>Enter the User Id you have used during registration</h4>
    <mat-form-field appearance="outline">
      <mat-label >Enter your User Id or email</mat-label>
      <input matInput placeholder="Alex or Alex@gmail.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </section>
    <br>
</div>
  
  