<button type="button" class="btn btn-primary">Back</button>

<h2 align="center" >Employee Expenses </h2>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>

  <div class="container" >
    <div class="row">
      <div class="col-sm">
        <h5>Name: Narendra </h5>
        </div>
      <div class="col-sm">
        <h5>Employee ID: 1035</h5>
            </div>
      <div class="col-sm">
        <h5> Total Amount $4564</h5>
            </div>
    </div>
  </div>

  <br>

  
<div class="fixTableHead  shadow">
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">S No</th>
      <th scope="col">Expense Data</th>
      <th scope="col">Expense Type</th>
      <th scope="col">Amount</th>
      <th scope="col">invoice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>18-04-2022</td>
      <td>Travel Expense</td>
      <td>$1000</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <td scope="row">2</td>
      <td>18-04-2022</td>
      <td>Food Expense</td>
      <td>$1999</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <td scope="row">3</td>
      <td>18-04-2022</td>
      <td>Internet Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <td scope="row">4</td>
      <td>18-04-2022</td>
      <td>Travel Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <td scope="row">5</td>
      <td>18-04-2022</td>
      <td>Food Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
        <td scope="row">6</td>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <td scope="row">7</td>
        <td>18-04-2022</td>
        <td>Internet Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <td scope="row">8</td>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <td scope="row">9</td>
        <td>18-04-2022</td>
        <td>Food Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      
      <tr>
        <td scope="row">10</td>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>

  
  </tbody>
</table>

  
</div>

</body>
</html>
