<button type="button" class="btn btn-primary">Back</button>

<h1 align="center" >Employee Expenses </h1>
<br> <br>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container" >
    <div class="row">
      <div class="col-sm">
        <h4>Name: Narendra </h4>
        </div>
      <div class="col-sm">
        <h4>Employee ID: 1035</h4>
            </div>
      <div class="col-sm">
        <h4> Total Amount $4564</h4>
            </div>
    </div>
  </div>

  <br>

  
<div class="container">
  
<table class="table shadow">
  <thead>
    <tr>
      <th scope="col">S No</th>
      <th scope="col">Expense Data</th>
      <th scope="col">Expense Type</th>
      <th scope="col">Amount</th>
      <th scope="col">invoice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>18-04-2022</td>
      <td>Travel Expense</td>
      <td>$1000</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>18-04-2022</td>
      <td>Food Expense</td>
      <td>$1999</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>18-04-2022</td>
      <td>Internet Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>18-04-2022</td>
      <td>Travel Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>18-04-2022</td>
      <td>Food Expense</td>
      <td>$7228</td>
      <td><a href="clickme">clickhere</a></td>
    </tr>
    <tr>
        <th scope="row">6</th>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>18-04-2022</td>
        <td>Internet Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>18-04-2022</td>
        <td>Food Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>18-04-2022</td>
        <td>Travel Expense</td>
        <td>$7228</td>
        <td><a href="clickme">clickhere</a></td>
      </tr>

  
  </tbody>
</table>

  
</div>

</body>
</html>
