.form-col-xs-2  {
    background: rowrgb(225, 211, 226), rgb(228, 207, 210);  
} 

.shadow{
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
   
}

.table{
    overflow-y: auto;
height: 70vh;
width: 100%;
}

thead{
    background-color: rgb(223, 181, 188);
  padding: 20px;
  font-size: 18px;
}
    