<table align="center" class="table_content">
    <thead class="border1">

  <tr >
    <th class="border1"> First Name</th> 
    <th > Last Name</th>
    <th> Email</th>
    <th> Role</th>
    <th> Entity</th>
    <th> Action</th>
  </tr>

</thead>

<tbody class="border1">

  <tr *ngFor="let emp of employees"  class="border1">

    <td class="border1">{{emp.empFirstName}}</td>
    <td>{{emp.empLastName}}</td>
    <td>{{emp.empEmail}}</td>
    <td>{{emp.empRole}}</td>
    <td>{{emp.empEntity}}</td>
    <td class="border1"><button class="view">View</button> <button class="approved">Aapproved</button> <button class="reject">Reject</button></td>



  </tr>

</tbody>


</table>


<br><br>




  <table class="table table_content1">
    <thead>

      <tr>
        <th> First Name</th> 
        <th> Last Name</th>
        <th> Email</th>
        <th> Role</th>
        <th> Entity</th>
        <th> Action</th>
      </tr>
    
    </thead>
    
    <tbody>
     
      <tr *ngFor="let emp of employees">
    
        <td>{{emp.empFirstName}}</td>
        <td>{{emp.empLastName}}</td>
        <td>{{emp.empEmail}}</td>
        <td>{{emp.empRole}}</td>
        <td>{{emp.empEntity}}</td>
        <td><button class="view">View</button> <button class="approved">Aapproved</button> <button class="reject">Reject</button></td>
    
    
    
      </tr> 
    </tbody>
  </table>


 
