<div class="container">

  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button  class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Email</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" (click)="next()" data-target="#test-l-2">
        <button   type="submit" class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Password</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Validate</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">

            <div class="col-lg-6 mb-4 ">
              <div class="card-body  px-md-4">
                <div class="shadow-lg p-5 mb-7 bg-white rounded">

                  <form (ngSubmit)="onSubmit()" name="signup" #signup="ngForm"
                    (ngSubmit)="signup.valid && register(signup) && !show">
                    <div id="test-l-1" class="content">


                      <div class="img" style="position:relative;left: 22%;">
                        <img alt="" class="img" style="position: relative;display: flex;"
                          src="../assets/snadicon.png" />
                      </div>

                      <h4 class="text-center"><b>Signup for Registration</b></h4>
                      <div class="row">
                        <div class="col-md-6 mb-4">

                          <div class="form-outline" >
                            <label class="form-label" for="FirstName">First Name</label><span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="text" id="firstName" class="form-control" name="firstName" #firstName="ngModel"
                              placeholder="First Name" [(ngModel)]="Signup.firstName" required />
                            <small
                              *ngIf="(firstName.touched && firstName.invalid) || (firstName.invalid && signup.submitted)">First
                              Name is required </small>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label class="form-label" for="lastName">Last Name</label><span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="text" id="lastName" class="form-control" name="lastName" #lastName="ngModel"
                              placeholder="Last Name" [(ngModel)]="Signup.lastName" required />
                            <small
                              *ngIf="(lastName.touched && lastName.invalid) || (lastName.invalid && signup.submitted)">Last
                              Name is required </small>
                          </div>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label for="EmployeeId" class="form-label">Employee Id</label><span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="text" class="form-control" id="idnumber" name="idnumber" #idnumber="ngModel"
                              placeholder="Employee Id" [(ngModel)]="Signup.idnumber" required />
                            <small
                              *ngIf="(idnumber.touched && idnumber.invalid) || (idnumber.invalid && signup.submitted)">EmployeeId
                              is required </small>
                          </div>

                        </div>
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label for="EmailId" class="form-label">Email Id</label> <span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="mail" class="form-control" id="email" name="email" #email="ngModel"
                              placeholder="Email Id" [(ngModel)]="Signup.email" required />
                            <small
                              *ngIf="(email.touched && email.invalid) || (email.invalid && signup.submitted)">EmailId is
                              required </small>
                          </div>

                        </div>

                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label for="PhoneNumber" class="form-label">Phone Number</label><span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                              #phoneNumber="ngModel" placeholder="Phone Number" minlength="10"
                              [(ngModel)]="Signup.phoneNumber" required />
                            <small
                              *ngIf="(phoneNumber.touched && phoneNumber.invalid) || (phoneNumber.invalid && signup.submitted)">PhoneNumber
                              is required </small>
                          </div>

                        </div>
                        <div class="col-md-6 mb-4">
                          <label class="form-label">Gender</label><span
                            style="color: red;right: -3px;position: relative;">*</span>
                          <select class="form-select" id="gender" name="gender" #gender="ngModel"
                            aria-label="Default select example" [(ngModel)]="Signup.gender" required>
                            <option value="1">Choose option</option>
                            <option value="2">Male</option>
                            <option value="3">Female</option>
                            <option value="4">Other</option>
                          </select>
                          <small
                            *ngIf="(gender.touched && gender.invalid) || (gender.invalid && signup.submitted)">Gender is
                            required </small>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <label class="form-label">Select Entity</label><span
                            style="color: red;right: -3px;position: relative;">*</span>
                          <select class="form-select" id="entity" name="entity" aria-label="Default select example"
                            #entity="ngModel" [(ngModel)]="Signup.entity" required>
                            <option value="1">Choose option</option>
                            <option value="2">HDFC</option>
                            <option value="3">AXIS</option>
                            <option value="4">AVERON</option>
                          </select>
                          <small
                            *ngIf="(entity.touched && entity.invalid) || (entity.invalid && signup.submitted)">SelectEntity
                            is required</small>


                        </div>
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label for="DateOfBirth" class="form-label">Date Of Birth</label><span
                              style="color: red;right: -3px;position: relative;">*</span>
                            <input type="date" class="form-control" id="dateofBirth" name="dateofBirth"
                              (change)="dobvalid(Signup.dateofBirth)" #dateofBirth="ngModel" placeholder="DateOfBirth"
                              [(ngModel)]="Signup.dateofBirth" required />
                            <small
                              *ngIf="(dateofBirth.touched && dateofBirth.invalid) || (dateofBirth.invalid && signup.submitted)">DateOfBirth
                              is required </small>
                            <small *ngIf="(show)"> age should be 18 -75 years</small>
                          </div>
                        </div>

                      </div>

                      <div class="row">

                      </div>





                      <div class="mt-4 pt-2">
                        <input   (click)="next()" type="submit" class="btn btn-primary btn-block mb-3" value="Next" />
                      </div>
                    </div>
                    <div id="test-l-2" class="content">
                    
              <div class="img" style="position:relative;left: 22%;">
                <img alt="" class="img" style="position: relative;display: flex;" src="../assets/snadicon.png" />
              </div>
              <h1>Sign up for new account</h1>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="AddressLine1" placeholder="Address Line 1" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="Addressline2" placeholder="Address Line 2" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="City" placeholder="City" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="State" placeholder="State" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="Zipcode" placeholder="Zipcode" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="Country" placeholder="Country" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" class="form-control" name="Password" placeholder="Password" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline" >
                    
                    <input type="text" class="form-control" name="Confirmpassword" placeholder="Confirm Password" />
                  </div>

                </div>
              </div>

              <div class="form-group required">
                
                <select class="form-select" id="SelectEntity" aria-label="Default select example"
                  aria-placeholder="Select Role">
                  <option>Select Role</option>
                  <option>Software Engineer</option>
                  <option>Business Analyst</option>
                  <option>Devops Engineer</option>
                </select>
              </div>
              
              
                      <input (click)="next()" type="submit" class="btn btn-primary btn-block mb-3" value="Next" />
                    </div>
                    <div id="test-l-3" class="content text-center">
                      <div class="img" align="center">
                        <img alt="" src="../assets/snadicon.png" />
                     </div>
                     <h3 style="margin:none;" align="center"><b>Security Questions</b></h3>
                      <br>
                      <div class="form-group">
                        <label for="ans1">What is your favourite food/dish?</label>
                        <input type="name" class="form-control" id="ans1" placeholder="Give your answer"  name="#ans1" aria-label="#answer1" #ans1="ngModel" [(ngModel)]="Signup.ans1" required/>
                        <small *ngIf="(ans1.touched && ans1.invalid) || (ans1.invalid && signup.submitted)"> answer1 is required </small>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ans2">Who is your favourite actor?</label>
                        <input type="name" class="form-control" id="ans2" placeholder="Give your answer" name="#ans2" aria-label="#ans2" #ans2="ngModel" [(ngModel)]="Signup.ans2" required/>
                        <small *ngIf="(ans2.touched && ans2.invalid) || (ans2.invalid && signup.submitted)"> answer2 is required </small >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ans3">What is the name of your favourite pet?</label>
                        <input type="name" class="form-control" id="ans3" placeholder="Give your answer" name="#ans3" aria-label="#ans3" #ans3="ngModel" [(ngModel)]="Signup.ans3" required/>
                        <small *ngIf="(ans3.touched && ans3.invalid) || (ans3.invalid && signup.submitted)"> answer3 is required </small >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ans4">What is your favourite hobby?</label>
                        <input type="name" class="form-control" id="ans4" placeholder="Give your answer" name="#ans4" aria-label="#ans4" #ans4="ngModel" [(ngModel)]="Signup.ans4" required/>
                        <small *ngIf="(ans4.touched && ans4.invalid) || (ans4.invalid && signup.submitted)"> answer4 is required </small >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ans5">Who is your best friend?</label>
                        <input type="name" class="form-control" id="ans5" placeholder="Give your answer" name="#ans5" aria-label="#ans5" #ans5="ngModel" [(ngModel)]="Signup.ans5" required/>
                        <small *ngIf="(ans5.touched && ans5.invalid) || (ans5.invalid && signup.submitted)"> answer5 is required </small >
                    </div>
                    <br>
                      <button type="submit" class="btn btn-primary mt-5">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>