<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>

    <div class="container">
        <div class="row col-md-6 col-md-offset-3">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1>User Details</h1>
                </div>
          <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text-center" class="form-control" placeholder="Firstname" id="firstName" />
                </div>
                <br>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text-center" class="form-control" id="lastName" />
                </div>
                <br>
                <div class="form-group">
                    <label for="emplyeeid">Employee Id</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br>
                <div class="form-group">
                    <label for="emplyeeid">Address 1</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <div class="form-group">
                    <label for="emplyeeid">Address 2</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <div class="form-group">
                    <label for="emplyeeid">City</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <select class="form-select" aria-label="Default select example" >
                    <option selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Third Gender">Third Gender</option>
                  </select>
                 <!--  <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Gender</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Male</a></li>
                      <li><a class="dropdown-item" href="#">Female</a></li>
                      <li><a class="dropdown-item" href="#">Third Gender</a></li>
                      
                    </ul>
                  </div>--> 
                <br> 
                <div class="form-group">
                    <label for="emplyeeid">State</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> <div class="form-group">
                    <label for="emplyeeid">Zip Code</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> <div class="form-group">
                    <label for="emplyeeid">Country</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <select class="form-select" aria-label="Default select example">
                    <option selected>Entity</option>
                    <option value="Male">1</option>
                    <option value="Female">2</option>
                    <option value="Third Gender">3</option>
                  </select>
                <br>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Role</option>
                    <option value="Male">1</option>
                    <option value="Female">2</option>
                    <option value="Third Gender">3</option>
                  </select>
                <br>
                 <div class="form-group">
                    <label for="emplyeeid">Email Id</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <div class="form-group">
                    <label for="emplyeeid">Phone Number</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Password</label>
                    </div>
                    <div class="col-auto">
                      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                      <span id="passwordHelpInline" class="form-text">
                        Must be 8-20 characters long.
                      </span>

                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                        <span class="input-group-text"> </span>
                        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                      </div>


                    </div>
                  </div>
                <br> <div class="form-group">
                    <label for="emplyeeid">Confirm Password</label>
                    <input type="text-center" class="form-control" id="emplyeeid" />
                </div>
                <br> 
                <input type="submit"   class="btn btn-primary">
            </form>

              
                