<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button type="button" class="btn btn-primary">Back</button>
  <section class="vh-200 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 26px;">
            <div class="card-body p-4 p-md-4">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">User Details</h1>

              <form>
                <div class="row">
                  
                  <div class="col">
                      <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control">
                  </div>
                

                  <div class="col">
                    <label class="form-label" for="firstName">Last Name</label>
                    <input type="text" class="form-control">
                  </div>


                  <div class="col">
                    <label class="form-label" for="firstName">Employee Id</label>
                    <input type="text" class="form-control">
                  </div>

                </div>

              </form>

<br>

              <form>
                <div class="row">
                  
                  <div class="col">
                      <label class="form-label" for="firstName">Address Line 1</label>
                    <input type="text" class="form-control">
                  </div>
                

                  <div class="col">
                    <label class="form-label" for="firstName">Address Line 2</label>
                    <input type="text" class="form-control">
                  </div>


                  <div class="col">
                    <label class="form-label" for="firstName">City</label>
                    <input type="text" class="form-control">
                  </div>

                </div>

              </form>

              <br> 


              
              <form>
                <div class="row">
                  
                  <div class="col">
                      <label class="form-label" for="firstName">Country</label>
                    <input type="text" class="form-control">
                  </div>
                

                  <div class="col">
                    <label class="form-label" for="firstName">State</label>
                    <input type="text" class="form-control">
                  </div>


                  <div class="col">
                    <label class="form-label" for="firstName">Zipcode</label>
                    <input type="text" class="form-control">
                  </div>

                </div>
              </form>

        <br>      
  
               
  
                 <div class="row">
                  <div class="col">
  
                    <select class="select form-control-lg">
                      <option value="1" disabled>Choose option</option>
                      <option value="2">Subject 1</option>
                      <option value="3">Subject 2</option>
                      <option value="4">Subject 3</option>
                      
                    </select>
                    <label class="form-label select-label">Gender</label>
  
                  </div>

                   <div class="col">
  
                    <select class="select form-control-lg">
                      <option value="1" disabled>Choose option</option>
                      <option value="2">Subject 1</option>
                      <option value="3">Subject 2</option>
                      <option value="4">Subject 3</option>
                      
                    </select>
                    <label class="form-label select-label">Role</label>
  
                  </div>


                  <div class="col">
  
                    <select class="select form-control-lg">
                      <option value="1" disabled>Choose option</option>
                      <option value="2">Subject 1</option>
                      <option value="3">Subject 2</option>
                      <option value="4">Subject 3</option>
                      
                    </select>
                    <label class="form-label select-label">Entity</label>
  
                  </div>
                </div>
  
<br>
                <form>
                  <div class="row">
                    
                    <div class="col">
                        <label class="form-label" for="firstName">Email Id</label>
                      <input type="text" class="form-control">
                    </div>
                  
  
                    <div class="col">
                      <label class="form-label" for="firstName">Phone Number</label>
                      <input type="text" class="form-control">
                    </div>
  
  
                    <div class="col">
                      <label class="form-label" for="firstName">Password</label>
                      <input type="text" class="form-control">
                      
                      
                      <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                      </small>
                    </div>

                  </div>
                    <div class="col-md-4">
                      <label class="form-label" for="firstName">Confirm Password</label>
                      <input type="text" class="form-control">
                       </div>
  
  
                 
                </form>
                <div class="mt-4 pt-2" align="center">
                  <input class="btn btn-primary btn-lg" type="submit"  value="Update Details" />
                </div>
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>