<app-amdbuttons>
    
</app-amdbuttons><br>
  
<div class="fixTableHead  shadow">
    <table class="table">
        <thead>
            <tr>
              <th> First Name</th> 
              <th> Last Name</th>
              <th> Email</th>
              <th> Role</th>
              <th> Entity</th>
              <th> Action</th>
            </tr>
          </thead>
  
          <tbody>
            <tr >
          
              <td>Girish</td>
              <td>k</td>
              <td>k@gmail.com</td>
              <td>developer</td>
              <td>snad</td>
              <td><button class="btn btn-primary ">Update</button></td>
          
          
          
            </tr>  
      
      
          </tbody>
        
    </table>
  </div> 
  
  
  
  
  
  
  
   
 

