<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form>
    <h3 class="text-center">Add Job Information</h3>
    <button type="button1"  class="btn btn-primary">Back</button>
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"><br>
                            <div class="container"> <br> 
                              <label for="date">Effective Date</label><br> 
                              <input type="date" id="date" name="date">
                            </div>
                          <div class="container"><br>
                              <label for="Visa">Client Name</label><br>
                              <select id="Visa" name="Visa">
                                  <option value="1">UPS</option>
                                  <option value="2">Google</option>
                                  <option value="3">FaceBook</option>
                             </select>
                          </div>  
                            <div class="container"><br>
                              <label for="Visa">Job Title</label><br>
                              <select id="Job" name="Job">
                                  <option value="1">Cloud Engineer</option>
                                  <option value="2">Dotnet Developer</option>
                                  <option value="3">Java Developer</option>
                             </select>
                          </div>
                          <div class="container"><br>
                              <label for="Visa">Reports to</label><br>
                              <select id="Reports" name="Reports">
                                  <option value="1">Naga Deepthi Nandigurr</option>
                                  <option value="2">Satya Kishore Mavuri</option>
                                  <option value="3">Ravi Teja</option>
                             </select>
                          </div>
                          <div class="container"><br>
                              <label for="Visa">Location</label><br>
                              <select id="Location" name="Location">
                                  <option value="1">India</option>
                                  <option value="2">USA</option>
                                  <option value="3">United Kingdom</option>
                             </select>
                          </div>    
                            
                            <br>
                            <button type="button"  class="btn btn-primary">Add Details</button>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </form>                        
</body>
</html>