<form>
    <h2 class="text-center">Add Visa Information</h2>
    <button type="button" class="btn btn-primary" style="margin-left: 100px;">Back</button><br>&nbsp;
    <div class="col-12 col-sm-8">
        <div class="shadow-lg p-5 mb-7 bg-white rounded" style="margin-left: 30%;">
            <div class="card-body py-5 px-md-4">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="Date"
                                placeholder="Date"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Visa Type</label>
                            <select class="select form-control">
                                <option>Choose Option</option>
                                <option value="1">H1B</option>
                                <option value="2">H2B</option>
                                <option value="3">L1</option>
                                <option value="4">B2</option>
                            </select>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label class="form-label">Issuing Country</label>
                                <select class="select form-control">
                                    <option>Choose Option</option>
                                    <option value="1">Mumbai</option>
                                    <option value="2">Delhi</option>
                                    <option value="3">Pune</option>
                                    <option value="4">Hyderabad</option>
                                </select>
                            </div>
                     </div>
                     <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Issued Date</label>
                            <input type="date" class="form-control" id="Date"
                                placeholder="Date"/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Expiration Date</label>
                            <input type="date" class="form-control" id="Date"
                                placeholder="Date"/>
                        </div>
                    </div>
                    <div style="position: relative;">
                        <button type="button" class="btn btn-primary" style="margin:10px ;">Add Details&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                          </svg></button>
                    </div>
            </div>
        </div>
    </div>
</form>