<form>
    <h1 class="text-center">Add Visa Information</h1>
    <button type="button" class="btn btn-primary" style="margin-left: 9%;">Back</button>
    <div class="px-4 py-2 px-md-5 col-md-8 text-center text-lg-start" style="margin-left:15%">
        <div class=" shadow-lg p-5 mb-4 bg-white rounded">
            <div class="card-body py-3 px-md-4">
                <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="Date" placeholder="Date"/>
                        </div>
                    </div>
                    
                <div class="col-md-6 mb-4">
                    <label class="form-label">Visa Type</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Choose Option</option>
                        <option value="1">H1-B</option>
                        <option value="2">H2-B</option>
                        <option value="2">H3</option>
                        <option value="3">L1</option>
                        <option value="4">B2</option>
                    </select>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label">Issuing Country</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Choose Option</option>
                        <option value="1">Australia</option>
                        <option value="2">Argentina</option>
                        <option value="3">Afghanistan</option>
                        <option value="4">Botswana</option>
                        <option value="4">Brazil</option>
                        <option value="4">Colombia</option>
                        <option value="4">Georgia</option>
                        <option value="4">New Zealand</option>
                        <option value="4">japan</option>
                        <option value="4">Russia</option>
                        <option value="4">United States</option>
                    </select>
                </div>
                     <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Issued Date</label>
                            <input type="date" class="form-control" id="Date" placeholder="Date"/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Expiration Date</label>
                            <input type="date" class="form-control" id="Date" placeholder="Date"/>
                        </div>
                    </div>
                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary " type="submit" value="Add Details" style="margin-left: 45%;" />
                    </div>    
            </div>
        </div>
    </div>
</form>