
<form >
<div class="col d-flex justify-content-center">
  <div class="shadow-lg p-5 mb-7 bg-white " id="shadow">
  <h4>Personal</h4>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" >Employee Number <span>*</span> </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Employee Number">
</div>

<div class="row">
    <label for="exampleFormControlInput1" class="form-label" required>Name<span>*</span> </label>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last Name">
    </div>
    <div class="col"></div>
  </div>
  <div class="col">
    <label for="exampleFormControlInput1" class="form-label">Date Of Birth<span>*</span> </label>
    <input type="Date" class="form-control" id="exampleFormControlInput1" placeholder="Date Of Birth">
  </div>
  <label for="exampleFormControlInput1" class="form-label">Gender<span>*</span> </label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Gender</option>
    <option value="1">Male</option>
    <option value="2">Female</option>
  </select>
  <div class="col">
    <label for="exampleFormControlInput1" class="form-label">National ID <span>*</span> </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="National ID">
  </div><hr>
  <h4>Address</h4>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Address Line 1" aria-label="Address Line 1">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Address Line 2" aria-label="Address Line 2">
    </div>
    <div class="col">
   
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="City" aria-label="City">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="State" aria-label="State">
    </div>
     <div class="col">
        <input type="text" class="form-control" placeholder="ZipCode" aria-label="Zipcode">
     </div>
    </div>
    <label for="exampleFormControlInput1" class="form-label"></label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Select Country</option>
    <option value="1">India</option>
    <option value="2">America</option>
    <option value="3">Srilanka</option>
    <option value="4">Canada</option>
    <option value="2">Australia</option>
    <option value="2">Japan</option>
    <option value="2">France</option>
    <option value="2">Norway</option>
    <option value="2">Russia</option>

  </select>
  
  
  <hr>
  <h4>Contact<span>*</span> </h4>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number">
    </div>
    <div class="col">
      <input type="email" class="form-control" placeholder="Email" aria-label="Email">
    </div>
    <div class="col"></div>

  </div><hr>
  <h4>Compensation</h4>
  <div class="mb-3">
    
    <select class="form-select" aria-label="Default select example">
      <option selected>Select Pay Schedule</option>
      <option value="1"></option>
      <option value="2"></option>
    </select><br>
    <select class="form-select" aria-label="Default select example">
        <option selected>Select Pay Type</option>
        <option value="1"></option>
        <option value="2"></option>
      </select><br>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Pay Type"><br>
      <h4>Job Information</h4>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Hire Date <span>*</span> </label>
        <input type="Date" class="form-control" id="exampleFormControlInput1" placeholder="Hire Date"><br>
        <label for="exampleFormControlInput1" class="form-label">Employement Status</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Employement Status </option>
            <option value="1"></option>
            <option value="2"></option>
          </select><br>
          <label for="exampleFormControlInput1" class="form-label">Employement Type<span>*</span> </label>
          <select class="form-select" aria-label="Default select example">
              <option selected> Employement Type </option>
              <option value="1"></option>
              <option value="2"></option>
            </select><br>
            <label for="exampleFormControlInput1" class="form-label">Job Title<span>*</span> </label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Title </option>
                <option value="1"></option>
                <option value="2"></option>
              </select><br>
              <label for="exampleFormControlInput1" class="form-label">Supervisor Id<span>*</span> </label>
            <select class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1"></option>
                <option value="2"></option>
              </select><br>
              <label for="exampleFormControlInput1" class="form-label">Client Name<span>*</span> </label>
             <select class="form-select" aria-label="Default select example">
                <option selected>Select client</option>
                <option value="1"></option>
                <option value="2"></option>
              </select> 
          
         </div>
         </div>
         
              </div>
</div>

</form><br>


<div style="text-align: center;">
<button type="button" class="btn btn-primary">Save Details</button></div>
      
